<div class='dashboard'>
    <navbar-admin></navbar-admin>
    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div>
                <h4>Customer Details:</h4>
                <h6>Customer ID:{{customer.customerID}}</h6>
                <h6>Customer Name: &nbsp;{{customer.customerName.fname}}&nbsp;{{customer.customerName.lname}}
                </h6>
            </div>
            <div class="container mt-5 px-2">
                <div class="mb-2 d-flex justify-content-between align-items-center">
                </div>
                <div class="table-responsive">
                    <table class="table table-responsive table-borderless">
                        <thead>
                            <tr class="bg-dark text-light">
                                <th scope="col" class="text-center">BookingID</th>
                                <th scope="col" class="text-center">PackageName</th>
                                <th scope="col" class="text-center">Days</th>
                                <th scope="col" class="text-center">People</th>
                                <th scope="col" class="text-center">StartDate</th>
                                <th scope="col" class="text-center">EndDate</th>
                                <th scope="col" class="text-center">TotalCost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let booking of bookings">
                                <td class="text-center">{{booking.packBookID}}</td>
                                <td class="text-center">{{booking.pack.packageName}}</td>
                                <td class="text-center">{{booking.noOfDays}}</td>
                                <td class="text-center">{{booking.noOfPeope}}</td>
                                <td class="text-center">{{booking.startDate | date:'yyyy-MM-dd'}}</td>
                                <td class="text-center">{{booking.endDate | date:'yyyy-MM-dd'}}</td>
                                <td class="text-center">{{booking.packageCost}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>