<div class='dashboard'>
    <navbar-admin></navbar-admin>
    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class="container mt-5 px-2">
                <div class="mb-2 d-flex justify-content-between align-items-center">
                    <div class="position-relative">
                    </div>
                    <div class="px-2"><a routerLink="/packcreate" routerLinkActive="active"><i
                                class="fa fa-plus btn btn-dark"></i>
                            Add Package</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-responsive table-borderless">
                        <thead>
                            <tr class="bg-dark text-light">
                                <th scope="col" class="text-center" width="10%">Package ID</th>
                                <th scope="col" class="text-center" width="15%">Package Name</th>
                                <th scope="col" class="text-center" width="15%">Location</th>
                                <th scope="col" class="text-center" width="20%">Hotel</th>
                                <th scope="col" class="text-center" width="15%">Hotel Cost Per Day</th>
                                <th scope="col" class="text-center" width="15%">Cost Per Day</th>
                                <th scope="col" class="text-center" width="15%"><span>Edit</span></th>
                                <th scope="col" class="text-center" width="15%"><span>Delete</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pack of packageData">
                                <td class="text-center">{{ pack.packageID }}</td>
                                <td class="text-center">{{ pack.packageName }}</td>
                                <td class="text-center">{{ pack.location }}</td>
                                <td class="text-center">{{ pack.hotelName }}</td>
                                <td class="text-center">{{ pack.hotelCostPerDay }}</td>
                                <td class="text-center">{{ pack.costPerDay }}</td>
                                <td class="text-center"><button type="submit"
                                        routerLink="/packedit/{{ pack.packageID }}" routerLinkActive="active"
                                        class="fa fa-pencil btn btn-primary">
                                    </button></td>
                                <td class="text-center">
                                    <button type="submit" (click)="deletePackage(pack.packageID)"
                                        class="fa fa-trash btn btn-danger">
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>