<div class="dashboard-nav">
    <br>
    <header>
        <div class="brand-logo">
            <img src="assets/palm-tree.png" alt="palm" width="100" height="100" />
        </div>
    </header>
    <nav class="dashboard-nav-list">
        <a routerLink="/packlist-customer/{{cid}}" routerLinkActive="active" class="dashboard-nav-item active">
            <i class="fas fa-tachometer-alt"></i>
            Packages
        </a>
        <a routerLink="/bookings/{{cid}}" routerLinkActive="active" class="dashboard-nav-item active">
            <i class="fas fa-list-ul"></i>
            Bookings
        </a>
        <a routerLink="/customeredit/{{cid}}" routerLinkActive="active" class="dashboard-nav-item">
            <i class="fas fa-user"></i> Profile
        </a>
        <div class="nav-item-divider"></div>
        <a (click)="logout()" class="dashboard-nav-item">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </nav>
</div>