<div class="dashboard-nav">
    <br>
    <header>
        <div class="brand-logo">
            <img src="assets/palm-tree.png" alt="palm" width="100" height="100" />
        </div>
    </header>
    <nav class="dashboard-nav-list">
        <a routerLink="/admin" routerLinkActive="active" class="dashboard-nav-item">
            <i class="fas fa-home"></i>
            Home
        </a>
        <a routerLink="/customer-list" routerLinkActive="active" class="dashboard-nav-item active">
            <i class="fas fa-users"></i>
            Customers
        </a>
        <a routerLink="/packadmin" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-hotel"></i>
            Packages
        </a>
        <div class="nav-item-divider"></div>
        <a routerLink="/home" routerLinkActive="active" class="dashboard-nav-item">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </nav>
</div>