<div class='dashboard'>
    <navbar></navbar>
    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class="container" id="container">
                <h1 class="text-center">Welcome to Tour Package Booking!!</h1>
                <br>
                <header>
                    <div id="carouselExampleCaptions" class="carousel slide " data-interval="3000" data-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-target="#carouselExampleCaptions" data-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-target="#carouselExampleCaptions" data-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-target="#carouselExampleCaptions" data-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-target="#carouselExampleCaptions" data-slide-to="3"
                                aria-label="Slide 4"></button>
                            <button type="button" data-target="#carouselExampleCaptions" data-slide-to="4"
                                aria-label="Slide 5"></button>
                            <button type="button" data-target="#carouselExampleCaptions" data-slide-to="5"
                                aria-label="Slide 6"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active"
                                style="background-image: url('assets/kodaikanal-hill-station-hill-india.jpg') ; background-size:100% 100% ;">
                                <div class="carousel-caption">
                                    <h5>Kodaikanal</h5>
                                    <p>Flat <img src="assets/—Pngtree—10 parcent off sale offer_5949691.png" alt="offer"
                                            width="65" height="65" /> on all bookings from 25th to 27th August 2021!!
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item "
                                style="background-image: url('assets/depositphotos_34939641-stock-photo-hikers-silhouette.png') ; background-size:100% 100% ;">
                                <div class="carousel-caption">
                                    <h5>Rajasthan</h5>
                                    <p><img src="assets/—Pngtree—red coupon 10 off with_5366497.png" alt="offer"
                                            width="75" height="75" />Limited Offer!! Book your Packages Before the Deal
                                        Ends!!</p>
                                </div>
                            </div>
                            <div class="carousel-item"
                                style="background-image: url('assets/HD-wallpaper-camogli-genoa-summer-beach-resort-tourism-mountains-italy.png'); background-size:100% 100% ;">
                                <div class="carousel-caption">
                                    <h5>Goa</h5>
                                    <p>Flat <img src="assets/—Pngtree—10 parcent off sale offer_5949691.png" alt="offer"
                                            width="65" height="65" /> on all
                                        bookings from 25th to 27th August 2021!!
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item"
                                style="background-image: url('assets/435591ca-022e-480d-a4e6-329af437ee6c-Family20travel20tips20to20make20your20vacation20smooth.png'); background-size:100% 100% ;">
                                <div class="carousel-caption">
                                    <h5>Andaman & Nicobar</h5>
                                    <p><img src="assets/—Pngtree—red coupon 10 off with_5366497.png" alt="offer"
                                            width="75" height="75" />Limited Offer!!
                                        Book your Packages Before the Deal
                                        Ends!!</p>
                                </div>
                            </div>
                            <div class="carousel-item"
                                style="background-image: url('assets/gosau-am-dachstein-gmunden-village-cosy-resort-austria.jpg'); background-size:100% 100% ;">
                                <div class="carousel-caption">
                                    <h5>Ooty</h5>
                                    <p>Flat <img src="assets/—Pngtree—10 parcent off sale offer_5949691.png" alt="offer"
                                            width="65" height="65" /> on all
                                        bookings from 25th to 27th August 2021!!
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item"
                                style="background-image: url('assets/photo-1476514525535-07fb3b4ae5f1.png'); background-size:100% 100% ;">
                                <div class="carousel-caption">
                                    <h5>Kashmir</h5>
                                    <p><img src="assets/—Pngtree—red coupon 10 off with_5366497.png" alt="offer"
                                            width="75" height="75" />Limited Offer!!
                                        Book your Packages Before the Deal
                                        Ends!!</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </header>

            </div>
        </div>
    </div>
</div>